<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VaroctoOCT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VaroctoOCT.Properties.Settings.varoctooctConnectionString"
      connectionString="server=192.168.168.131;user id=pegasususer;database=varoctooct;pwd=pegasus;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="VaroctoOCT.Properties.Settings.varoctooctConnectionString2"
      connectionString="server=192.168.168.131;user id=pegasususer;database=varoctooct;persistsecurityinfo=True;allowuservariables=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <VaroctoOCT.Properties.Settings>
      <setting name="TextBoxMaxLength" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ImageRootFolder" serializeAs="String">
        <value>c:\PegasusData</value>
      </setting>
      <setting name="dDeviceID" serializeAs="String">
        <value>pegasus4</value>
      </setting>
      <setting name="lLocationID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FixationRectangleHorizontalPixelsPerMm" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="FixationRectangleVerticalPixelsPerMm" serializeAs="String">
        <value>40</value>
      </setting>
    </VaroctoOCT.Properties.Settings>
  </userSettings>
</configuration>